*{
    margin: 0;
    padding: 0;
}

body{
    
    margin: 0;
    padding: 0;
    background-color: $Darkcyan;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    justify-content: center;
    align-items: center;

    
}


.name{
    margin-bottom: 1rem;
}

.data{
    margin-bottom: 0.5rem;
}

span{
    
    color: $Darkgrayishblue;
    font-weight: 300;
    padding-left: 8px;
}

h3{
    color: $Darkgrayishblue;
    font-weight: 300;
}

.container{
    display: inline-block;
    align-items: center;
    margin: 7rem 2rem;

    background-color: white;
    border-radius: 15px;

    &__top{

        height: 10rem;
        width: 20rem;
        margin-bottom: 4rem;
        
        &-background{
        position: absolute;
        background-image: url(/images/bg-pattern-card.svg);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 20rem;
        height: 8rem;
        margin: auto;
        }

        &-profile{
            position: relative;
            margin: auto;
            top: 50%;
            background-image: url(/images/image-victor.jpg);
            width: 96px;
            height: 96px;
            border: 5px solid white;
            border-radius: 50px;
        }
    }


    &__mid{
        width: 320px;
        height: 100px;
        border-bottom: 1px solid lightgray;
    }

    &__bottom{

        &-stats{
            
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        align-items:center;
        flex-direction: row;

        margin: 2rem 1rem;

        &-column{
            margin: 1rem 1rem;
        }
        }
    }
}

@media only screen and (min-width: 768px){
    .container{
        height: 460px;
        width: 360px;

        margin: 4rem 2rem;

        &__top{
            width: 360px;

            &-background{
                width: 360px;
            }
        }

        &__mid{
            width: 360px;
        }
    }
}



